body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px; 
    background-color: rgb(247, 246, 242);
}

.main {
    
    background: linear-gradient(55deg, rgba(127, 184, 238, 0.096), rgba(13, 182, 238, 0.233));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 50px 50px 5px rgba(3, 0, 0, 0.438);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 620px;
    padding:20px;
    margin:auto;
    border: 0.3px solid rgba(2, 2, 2, 0.959); 
    flex-direction: column;
    /* change colors later it's only guide!! */
    position: relative;
    

}
.monkey {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow:1px 5px 5px 0 rgba(19, 15, 15, 0.418);
    /* replace picture doesn't look good...  */

}
button {
    width: 100px;
  
    margin-left: 245px;
    border: 1px solid rgb(73, 70, 70);
    border-radius: 55%;
    
    border-bottom-color: rgb(177, 179, 189);
    background-color: rgba(31, 46, 88, 0.993);
    color: white;
    padding:5px;
    box-shadow:1px 5px 5px 0 rgba(66, 46, 46, 0.466);
    outline-style: solid;
}
.topinfo {
    
    float: right;
    gap: 20px; 
    list-style-type: none; 
}
.icon {
    margin-right: 7px; 
    padding-top: 10px;
    width: 20px; 
    height: 20px;
}
/* replace icons for somethign else, - fontello more 
simlpe even better or try to find something size max 24px...*/
.about {
    padding-top: 100px;
}

.interest {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
height: 255px;
flex-wrap: wrap;
font-size: 11px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
list-style-type: none;

}

.box {
    flex-basis: 250px;
    height: 120px;
    width: 260px;
    margin: 10px;
  
    border-top: 10;
    
}

.stock {
    float: left;
    margin-right: 5px;
    margin-top: 14px;
    
}
.engine {
    float: left;
    margin-right: 5px;
    margin-top: 14px;
    padding: 0;
}

.history {
    float: left;
    margin-right: 5px;
    margin-top: 14px;
}
.git {
    float: left;
    margin-right:5px;
    margin-top: 14px
}







/* color set something nice not f... white, and gradiend! achive glass efect!  */
/* find background something like glass with drops or you just random dost then use blur 
something like that */
/* do not forget to replace text or idea on git "section" */
/* button !! do not forget to add link into */ 




